<div class="col-sm-12">
    <div class="panel with-nav-tabs panel-custom">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#appsumo" data-toggle="tab">Appsumo</a></li>
          <li><a href="#appsumo-black" data-toggle="tab">Appsumo Black</a></li>
          <li><a href="#dealfuel" data-toggle="tab">Dealfuel</a></li>
          <li><a href="#webmaster" data-toggle="tab">Webmaster</a></li>
          <li><a href="#affilates" data-toggle="tab">Affilates</a></li>
          <li><a href="#trial" data-toggle="tab">Trial</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="appsumo">
            <h4>Message <i *ngIf="!editAppsumo" class="fa fa-edit"
                           (click)='editMessage("appsumo")'></i></h4>
            <div *ngIf="!editAppsumo && appsumoMessage" [innerHTML]="appsumoMessage"></div>
            <div *ngIf="!editAppsumo && !appsumoMessage">No message set yet.</div>
            <div *ngIf="editAppsumo">
              <form class="appsumoMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('appsumo')"
                    id="appsumoMessageForm" name="appsumoMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-appsumo" formControlName="message" name="message" rows="5"
                            id="appsumoMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger"
                        (click)='editAppsumo = !editAppsumo'>Cancel
                </button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="appsumo-black">
            <h4>Message <i *ngIf="!editAppsumo_black" class="fa fa-edit"
                           (click)='editMessage("appsumo_black")'></i></h4>
            
            <div *ngIf="!editAppsumo_black && appsumoblackMessage" [innerHTML]="appsumoblackMessage"></div>
            <div *ngIf="!editAppsumo_black && !appsumoblackMessage">No message set yet.</div>
            <div *ngIf="editAppsumo_black">
              <form class="appsumoblackMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('appsumo_black')"
                    id="appsumoblackMessageForm" name="appsumoblackMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-appsumo_black" formControlName="message" name="message" rows="5"
                            id="appsumoblackMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger"
                        (click)='editAppsumo_black = !editAppsumo_black'>Cancel
                </button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="dealfuel">
            <h4>Message <i *ngIf="!editdealfuel" class="fa fa-edit"
                           (click)='editMessage("dealfuel")'></i></h4>
            
            <div *ngIf="!editdealfuel && dealfuelMessage" [innerHTML]="dealfuelMessage"></div>
            <div *ngIf="!editdealfuel && !dealfuelMessage">No message set yet.</div>
            <div *ngIf="editdealfuel">
              <form class="dealfuelMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('dealfuel')"
                    id="dealfuelMessageForm" name="dealfuelMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-dealfuel" formControlName="message" name="message" rows="5"
                            id="dealfuelMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger"
                        (click)='editdealfuel = !editdealfuel'>Cancel
                </button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="webmaster">
            <h4>Message <i *ngIf="!editwebmaster" class="fa fa-edit" (click)='editMessage("webmaster")'></i>
            </h4>
            
            <div *ngIf="!editwebmaster && webmasterMessage" [innerHTML]="webmasterMessage"></div>
            <div *ngIf="!editwebmaster && !webmasterMessage">No message set yet.</div>
            <div *ngIf="editwebmaster">
              <form class="webmasterMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('webmaster')"
                    id="webmasterMessageForm" name="webmasterMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-webmaster" formControlName="message" name="message" rows="5"
                            id="webmasterMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger"
                        (click)='editwebmaster = !editwebmaster'>Cancel
                </button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="affilates">
            <h4>Message <i *ngIf="!editaffilates" class="fa fa-edit" (click)='editMessage("affilates")'></i>
            </h4>
            
            <div *ngIf="!editaffilates && affilatesMessage" [innerHTML]="affilatesMessage"></div>
            <div *ngIf="!editaffilates && !affilatesMessage">No message set yet.</div>
            <div *ngIf="editaffilates">
              <form class="affilatesMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('affilates')"
                    id="affilatesMessageForm" name="affilatesMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-affilates" formControlName="message" name="message" rows="5"
                            id="affilatesMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger"
                        (click)='editaffilates = !editaffilates'>Cancel
                </button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="trial">
            <h4>Message <i *ngIf="!edittrial" class="fa fa-edit" (click)='editMessage("trial")'></i>
            </h4>
            <div *ngIf="!edittrial && trialMessage" [innerHTML]="trialMessage"></div>
            <div *ngIf="!edittrial && !trialMessage">No message set yet.</div>
            <div *ngIf="edittrial">
              <form class="trialMessageForm" [formGroup]="messageForm" (ngSubmit)="saveMessage('trial')"
                    id="trialMessageForm" name="trialMessageForm">
                <div class="form-group">
                  <textarea class="form-control wysiwyg-trial" formControlName="message" name="message" rows="5"
                            id="trialMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger" (click)='edittrial = !edittrial'>
                  Cancel
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
