<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Features</h2>
  </div>
</div>
<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 pull-right">
          <a href="javascript:void(0);" class="btn btn-default " id="btnCalc" data-toggle="modal" data-target="#add-feature" (click)="featureForm.reset();edit=false;">Add Feature</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8" *ngIf="totalCount">
        <button class="btn" (click)="showFilters()">
          <i class="fa fa-filter"></i>{{showFilter ? 'Hide Filter' : 'Show Filter' }}
        </button>
      </div>
      <!-- <div class="col-lg-4">
          <label>
            Search:
            <input type="search" class="" placeholder="" [(ngModel)]="search" aria-controls="table" (keyup)="searchData()">
          </label>
        </div> -->
      <div class="col-lg-12 block mt-1" *ngIf="showFilter">
        <div class="row mb-1" *ngFor="let condition of conditions; let i = index">
          <div class="col-lg-1">
            <button class="btn btn-danger btn-xs" (click)="removeCondition(i)" [disabled]="conditions.length == 1">
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="condition.selected_field" (change)="condition.stringValue = ''; condition.multiSelectSelected = []; initDatePcker(i)">
              <optgroup label="Features">
                <option *ngFor="let compField of condition.fields.feature" value="{{compField.value}}">{{compField.name}}</option>
              </optgroup>
            </select>
          </div>
          <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="condition.selected_operator" (change)="initDatePcker(i)">
              <option *ngFor="let operator of condition.operators[condition.selected_field]; let i = index" value="{{operator}}">{{operator}}</option>
            </select>
          </div>
          <div class="col-lg-3">
            <input type="text" *ngIf="['_id','description','heading','name'].includes(condition.selected_field)" class="form-control"
              [(ngModel)]="condition.stringValue" />
            <input type="text" *ngIf="[ 'createdAt', 'launch_date'].includes(condition.selected_field)" class="form-control {{'dpkr_' + i}}"
              [(ngModel)]="condition.numberValue.value1" />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-1">
            <button class="btn btn-default btn-xs" (click)="addCondition()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-lg-11">
            <button class="btn btn-success" (click)="applyFilter()">
              Apply Filter
            </button>
          </div>
        </div>

      </div>
      <div class="col-lg-12" *ngIf="totalCount">
        <div class="text-right">
          Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit)
          > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();getFeatures()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();getFeatures()">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="block row">
          <div class="table-responsive">

            <table class="table table-striped table-hover">
              <thead *ngIf="totalCount">
                <tr>
                  <th>
                    Feature
                  </th>
                  <th>
                    parent Features
                  </th>
                  <th>
                    name
                  </th>
                  <th>
                    Media type
                  </th>
                  <th>
                    Media Link
                  </th>
                  <th>
                    Heading
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Edit
                  </th>
                  <th>
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!loadingFeatures">
                  <tr *ngFor="let feature of features;let i=index;">
                    <td>
                      {{feature['_id']}}
                    </td>
                    <td>
                      {{feature['parent_feature'] || 'null'}}
                    </td>
                    <td>
                      {{feature['name'] || '---'}}
                    </td>
                    <td>
                      {{feature['media_type'] || '---'}}
                    </td>
                    <td>
                      <img width="100px" [src]="feature['media_link']" alt="not found" />
                    </td>
                    <td>
                      {{feature['heading'] || '---'}}
                    </td>
                    <td>
                      {{feature['description'] || '---'}}
                    </td>
                    <td>
                      <a href="javascript:void(0);" data-toggle="modal" data-target="#add-feature" (click)="editFeature(i);">
                        <i class="fa fa-eye"></i>
                      </a>
                    </td>
                    <td>
                      <a href="javascript:void(0);" (click)="removeFeature(feature._id)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!loadingFeatures && totalCount==0">
                  <tr>
                    <th colspan="6" scope="row" class="text-center">
                      No record found
                    </th>
                  </tr>
                </ng-container>
                <ng-container *ngIf="loadingFeatures">
                  <tr>
                    <th colspan="6" scope="row" class="text-center">
                      <i class="fa fa-spinner fa-5x fa-spin"></i>
                    </th>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="totalCount">
        <div class="text-right">
          Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit)
          > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();getFeatures()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();getFeatures()">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="add-feature" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <h5 class="modal-title">
          <span *ngIf="edit">Update a feature</span>
          <span *ngIf="!edit">Add a feature</span>
        </h5>
        <button type="button" (click)="resetPlans()" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="alert alert-danger custom-alert" *ngIf="errorMessage">{{errorMessage}}</div>
          <form id="featureForm" [formGroup]="featureForm">
            <div class="form-group label-floating">
              <label class="control-label" for="id"> id </label>
              <input class="form-control" [attr.disabled]="edit?'':null" id="id" type="text" name="id" formControlName="_id" />
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="name">Name</label>
              <input class="form-control" id="name" type="text" name="name" formControlName="name">
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="parent_feature">Parent Feature
                <span style="color:#777;font-size:12px"> (if feature haven't have parent feature then leave it empty)</span>
              </label>
              <input class="form-control" [attr.disabled]="(edit && (!oldFeature['parent_feature']))?'':null" id="parent_feature" type="text"
                name="parent_feature" formControlName="parent_feature">
            </div>
            <!-- <div class="form-group label-floating">
                              <label class="control-label" for="media_type">Media Type</label>
                              <input class="form-control" id="media_type" type="text" name="media_type" formControlName="media_type">                            
                          </div> -->
            <div class="form-group label-floating">
              <label class="control-label" for="media_type">Media Type</label>
              <ng-select #selections placeholder="Select Media Type" [items]="[{id:'IMAGE',text:'IMAGE'},{id:'VIDEO',text:'VIDEO'},{id:'GIF',text:'GIF'},{id:'YOUTUBE',text:'YOUTUBE'}]"
                (selected)="mediaType($event)" id="media_type"></ng-select>
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="media_link">Media Link</label>
              <input class="form-control" id="media_link" type="text" name="media_link" formControlName="media_link">
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="heading">Heading</label>
              <input class="form-control" id="heading" type="text" name="heading" formControlName="heading">
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="description">Description</label>
              <textarea class="form-control" id="description" type="text" name="description" rows="5" formControlName="description"></textarea>
            </div>
            <div *ngIf="!edit && plans?.length > 0" class="form-group label-floating">
              <label class="control-label" for="description">Plans</label>
              <ng-select #selections [allowClear]="true" [disabled]="disableSelection" placeholder="Select a plan to be duplicated" [items]="plans"
                [multiple]="true" (data)="currentSelections($event)" id="plan_to_be_duplicated">
              </ng-select>
            </div>

            <button *ngIf="!edit" (click)="addfeature(featureForm.value)" class="btn btn btn-red-outline btn-add-user btn-hover" id="addCalulator"
              [disabled]="!featureForm.valid || !selectedPlans.length || disableSelection">Add</button>
            <button *ngIf="edit" (click)="updatefeature(featureForm.value)" class="btn btn btn-red-outline btn-add-user btn-hover" id="updateCalulator"
              [disabled]="!featureForm.valid || disableSelection">Update</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>