<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Company</h2>
  </div>
</div>
<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul id="clothing-nav" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#company-details" id="company-details-tab" role="tab" data-toggle="tab" aria-controls="company-details"
              aria-expanded="true">
              Company Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team-details" role="tab" id="team-details-tab" data-toggle="tab" aria-controls="team-details">
              Team Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#membership-details" role="tab" id="membership-details-tab" data-toggle="tab" aria-controls="membership-details">
              Membership Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features" role="tab" id="features-tab" data-toggle="tab" aria-controls="features">
              Features
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#integrations" role="tab" id="integrations-tab" data-toggle="tab" aria-controls="integrations">
              Integrations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#company-logs" role="tab" id="company-logs-tab" data-toggle="tab" aria-controls="company-logs">
              Company Logs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#usage-cycle" role="tab" id="usage-cycle-tab" data-toggle="tab" aria-controls="usage-cycle">
              Usage Cycle
            </a>
          </li>
        </ul>
        <div id="clothing-nav-content" class="tab-content" *ngIf="company?.id">
          <div role="tabpanel" class="tab-pane fade show active" id="company-details" aria-labelledby="company-details-tab">
            <app-company-detail [companyId]="company?.id"></app-company-detail>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="team-details" aria-labelledby="team-details-tab">
            <app-team-detail [team]="company_users" [company]="company" [userLimit]="company?.current_limit_users" [companyId]="company?.id"></app-team-detail>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="membership-details" aria-labelledby="membership-details-tab">
            <app-membership-detail [company]="company"></app-membership-detail>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="features" aria-labelledby="features-tab">
            <section class="padding-top">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 toppad">
                    <app-company-features [data]="companyFeatures" (featureUpdates)="emitChanges($event)"></app-company-features>
                  </div>
                  <div class="col-lg-6 pull-right toppad">
                    <app-company-premades [data]="companyFeatures" [templates]="templates"></app-company-premades>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 toppad">
                    <app-company-calculators [company]="company"></app-company-calculators>
                  </div>
                </div>
              </div>
            </section>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="integrations" aria-labelledby="integrations-tab">
            <app-integrations [company]="company"></app-integrations>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="company-logs" aria-labelledby="company-logs-tab">
            <app-company-logs [company]="company"></app-company-logs>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="usage-cycle" aria-labelledby="usage-cycle-tab">
            <app-usage-cycle [company]="company"></app-usage-cycle>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>