
<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 text-left toppad" *ngIf="totalCount">
        <button class="btn" (click)="showFilters()">
          <i class="fa fa-filter"></i>{{showFilter ? 'Hide Filter' : 'Show Filter' }}
        </button>
      </div>
     
      <!-- Place for filters -->
      <!-- <div class="col-lg-12 block mt-1" *ngIf="showFilter">
          <div class="row mb-1" *ngFor="let condition of conditions; let i = index">
            <div class="col-lg-1">
              <button class="btn btn-danger btn-xs" (click)="removeCondition(i)" [disabled]="conditions.length == 1">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <div class="col-lg-3">
              <select class="form-control" [(ngModel)]="condition.selected_field" (change)="condition.stringValue = ''; condition.multiSelectSelected = []; initDatePcker(i)">
                <optgroup label="User">
                  <option *ngFor="let compField of condition.fields.user" value="{{compField.value}}">{{compField.name}}</option>
                </optgroup>
              </select>
            </div>
            <div class="col-lg-3">
  
              <div *ngIf="['name', 'location', 'email', 'phone','session_count', 'createdAt'].includes(condition.selected_field)">
                <select class="form-control" [(ngModel)]="condition.selected_operator" (change)="initDatePcker(i)">
                  <option *ngFor="let operator of condition.operators[condition.selected_field]; let i = index" value="{{operator}}">{{operator}}</option>
                </select>
              </div>
              <div *ngIf="['active', 'can_create_new_company', 'is_admin_created'].includes(condition.selected_field)">
                <select class="form-control" [(ngModel)]="condition.selected_operator" >
                  <option *ngFor="let operator of condition.operators[condition.selected_field]; let i = index" value="{{operator}}">{{operator}}</option>
                </select>
              </div>
  
            </div>
            <div class="col-lg-3">
              <input type="text" *ngIf="['name', 'location', 'email', 'phone'].includes(condition.selected_field)" class="form-control"
                [(ngModel)]="condition.stringValue" />
              <angular2-multiselect
                *ngIf="['deal_refered', 'current_referral_program', 'parent_company', 'is_admin_created', 'agency', 'remove_leads_after_saving', 'GDPR', 'billing.chargebee_plan_id', 'billing.chargebee_subscription_status', 'billing.customer_card_status', 'previousPlan.plan_id', 'previousPlan.subscription_status'].includes(condition.selected_field) && ['includes', 'does not include'].includes(condition.selected_operator)"
                [data]="condition.multiselectItems[condition.selected_field]"
                [(ngModel)]="condition.multiSelectSelected"
                [settings]="multiSelectSettings">
              </angular2-multiselect>
              <select class="form-control" [(ngModel)]="condition.stringValue" *ngIf="['is_admin_created','can_create_new_company','active'].includes(condition.selected_field) && !['includes', 'does not include'].includes(condition.selected_operator)" [(ngModel)]="condition.selectItem">
                <option *ngFor="let item of condition.selectItem[condition.selected_field]" value="{{item.id}}">
                  {{item.itemName}}
                </option>
              </select>
              <input type="text" *ngIf="['session_count', 'createdAt'].includes(condition.selected_field)" class="form-control {{'dpkr_' + i}}"
                [(ngModel)]="condition.numberValue.value1" />
            </div>
            <div class="col-md-2">
              <input type="text" *ngIf="condition.selected_operator == 'between' && ['session_count'].includes(condition.selected_field)"
                class="form-control" [(ngModel)]="condition.numberValue.value2" />
            </div>
          </div>
  
          <div class="row mt-2">
            <div class="col-lg-1">
              <button class="btn btn-default btn-xs" (click)="addCondition()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="col-lg-11">
              <button class="btn btn-success" (click)="applyFilter()">
                Apply Filter
              </button>
            </div>
          </div>
  
        </div> -->
      <!-- End of filters -->
      <div class="col-lg-12" *ngIf="totalCount">
        <div class="text-right">
          Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit)
          > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();getCompanyLogs()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();getCompanyLogs()">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="block row">
          <div class="table-responsive">
            <table *ngIf="!loading" class="table table-striped table-hover">
              <thead *ngIf="totalCount">
                <tr>
                  <th>
                    Action Performed
                  </th>
                  <th>
                    Change From
                  </th>
                  <th>
                    Table Name
                  </th>
                  <th>
                    Date
                  </th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!loading && totalCount">
                  <tr *ngFor="let log of subAdminLogs;let i = index">
                    <td>
                      {{log.event}}
                    </td>
                    <td>
                      {{log.change_from}}
                    </td>
                    <td>
                      {{log.table}}
                    </td>
                    <td>
                      {{dateFormat(log.createdAt)}}
                    </td>
                    <!-- [routerLink] = "['/admin/subadmin/log/',log._id]"  -->
                    <td>
                      <a href="javascript:void(0);"  style="cursor:pointer" data-toggle="modal" data-target="#modallog">
                        <i class="fa fa-eye" (click)="getLogById(i)"></i>
                      </a>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="loading">
                  <tr>
                    <th colspan="6" scope="row" class="text-center">
                      <i class="fa fa-spinner fa-5x fa-spin"></i>
                    </th>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!loading && totalCount==0">
                  <tr>
                    <td>No records found</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="totalCount">
        <div class="text-right">
          Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit)
          > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();getCompanyLogs()">
              <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();getCompanyLogs()">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modallog" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Log details</h5>
        <a title="close" href="#" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close pull-right"></i>
        </a>
        <div class="row text-center" *ngIf=" logLoading">
          <div class="col-md-12">
            <div class="panel-group">
              <i class="fa fa-spinner fa-5x fa-spin"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="sahil-material">
          <div class="row" *ngIf="!logLoading">
            <div class="col-md-12">
              <table class="logs">
                <tr>
                  <td>Performed By User :</td>
                  <td>{{user}}</td>
                </tr>
                <tr>
                  <td>Action :</td>
                  <td>{{log.event}}</td>
                </tr>
                <tr>
                  <td>Table :</td>
                  <td>{{log.table}}</td>
                </tr>
                <tr>
                  <td>Change From :</td>
                  <td>{{log.change_from}}</td>
                </tr>
                <tr>
                  <td>Date :</td>
                  <td>{{dateFormat(log.createdAt)}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="!logLoading">
            <div class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="panel-title">
                    <div class="col-sm-12 ">
                      <h4>Before Change</h4>
                    </div>
                  </div>
                </div>
                <div class="panel-body table-outer">

                  <!-- <pre >
                         &#123;
                      <span *ngFor="let item of generateKeys(beforeChange)">
                          <span [innerHTML]="beforeChange[item]"></span>
                      </span>
                         &#125;
                    </pre> -->
                  <table class="table-bordered">
                    <thead>
                      <th class="text-center">property</th>
                      <th class="text-center">value</th>
                    </thead>
                    <tbody [innerHTML]="beforeChange">
                      <!-- <span *ngFor="let item of generateKeys(beforeChange)">
                              <span [innerHTML]="beforeChange[item]"></span>
                          </span> -->
                    </tbody>
                  </table>
                  <!-- {{beforeChange|json}} -->

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="panel-title">
                    <div class="col-sm-12 ">
                      <h4>After Change</h4>
                    </div>
                  </div>
                </div>
                <div class="panel-body table-outer">
                  <table class="table-bordered">
                    <thead>
                      <th class="text-center">property</th>
                      <th class="text-center">value</th>
                    </thead>
                    <tbody [innerHTML]="afterChange">
                    </tbody>
                  </table>
                  <!-- <pre >
                         &#123;
                      <span *ngFor="let item of generateKeys(afterChange)">
                          <span [innerHTML]="afterChange[item]"></span>
                      </span>
                         &#125;
                    </pre> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>