<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Settings</h2>
    </div>
  </div>


  <div class="col-sm-9" id="sitesettings">
  <div class="panel with-nav-tabs panel-custom">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#deals" data-toggle="tab">Deals</a></li>
        <li><a href="#promo-trial" data-toggle="tab">Promotions Goals</a></li>
        <li><a href="#autologin-token" data-toggle="tab">Autologin Token</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="deals">
          <app-deals (promogoals)="getPromoGoals($event)"></app-deals>
        </div>
        <div class="tab-pane fade" id="promo-trial">
          <app-promo-goals [goals]="promoGoals"></app-promo-goals>
        </div>
        <div class="tab-pane fade" id="autologin-token">
          <app-autologin-token></app-autologin-token>
        </div>
      </div>
    </div>
  </div>
</div>