/* #sitesettings {
    top: 40px;
    position: relative;
    margin-left: 260px;
  }
  
  .panel-custom {
    background: #F44336;
  }
  
  .panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
  }
  
  .panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
  }
  
  .panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li > a,
  .with-nav-tabs.panel-custom .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > li > a:focus {
    color: #fff;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > .open > a,
  .with-nav-tabs.panel-custom .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-custom .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #F44336;
    border-color: transparent;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li.active > a,
  .with-nav-tabs.panel-custom .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > li.active > a:focus {
    color: #F44336;
    background-color: #fff;
    border-color: #F44336;
    border-bottom-color: transparent;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #F44336;
    border-color: #F44336;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #F44336;
  }
  
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #F44336;
  }

  .editbtn {
    vertical-align: middle;
    margin-left: 10px;
  }
  
  
  .table-str-outer{ float: left; width:100%;}
  .table-str-outer .row-style{ float: left; width:100%; min-height: 40px; border-bottom: 1px solid #f2f2f2; }
  .table-str-outer .row-style.head{ border: none; background: #888888; margin-top: 10px;}
  .table-str-outer .row-style.head .col-style{ color: #fff; text-transform: uppercase; text-align: left;}
  .table-str-outer .row-style .col-style{ float: left; width: 25%; color: #888888; font-size: 13px;  padding:15px 10px;}
  .table-str-outer .row-style .col-style:nth-child(1){ width: 50px; text-align: center !important;}
  .table-str-outer .row-style .col-style:nth-child(3){ width:40%;}
  .table-str-outer .row-style .col-style a i{ font-size: 16px; color: #279ed6; margin:0 8px; float: left;}
  .table-str-outer .row-style .col-style a:last-child i{color:#F44336; }
  #autoLoginModal .modal-content.modal-bg{-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}
  #autoLoginModal.modal .form-group{ margin-top: 10px;}
  #autoLoginModal.modal .form-group:nth-child(1){ margin-top: 0px;}
  #autoLoginModal.modal .modal-body{ padding:15px 25px; float: left; width:100%; border:none; }
  #autoLoginModal.modal .modal-dialog{ width: 500px;}
  #autoLoginModal.modal .modal-header{color: #fb5f66;}
  #autoLoginModal.modal .modal-header h5{ font-size: 20px; text-transform: uppercase;}
  .token-outer{ float: left; width: 100%; min-height: 30px; padding: 10px 0;}
  .token-outer span{ float: left; width:100%; font-size: 10px; color: #8e989f;text-transform: uppercase;}
  .token-outer p{ float: left; width: 100%; font-size: 14px; color: #62696d; margin-bottom: 0;}
  #autoLoginModal.modal .btn-red{ padding:7px 20px;}
  .add-bth-outer{ float: left; width:100%;}
  .add-bth-outer .btn-red{ padding:7px 20px 7px 35px; position: relative }
  .add-bth-outer .btn-red i{font-size: 18px; position: absolute;left: 14px; top: 8px;}
  .mr10{ margin-right: 10px;} */