<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Special Deals</h2>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div id="table-datatable_filter">
        <label>
          Search:
          <input type="search" class="" placeholder="" [(ngModel)]="search" aria-controls="table" (keyup)="searchData()">
        </label>
      </div>
    </div>
    <div class="col-lg-4">
      <button id="couponCreate" class="btn btn-primary" data-toggle="modal" data-target="#dealCouponCreate">
        Coupon Send</button>
    </div>
    <div class="col-lg-4">
      <div class="text-right">
        Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit)
        > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
        <div class="btn-group">
          <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();selectLog()">
            <i class="fa fa-angle-left"></i>
          </button>
          <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();selectLog()">
            <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-12">
  <div class="block row">
    <div class="table-responsive">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <div>Code</div>
            </th>
            <th>
              Coupon ID
            </th>

            <th>
              Plan ID
            </th>
            <th>
              User
            </th>
            <th>
              Deal Product ID
            </th>
            <th>
              Details
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!loading">
            <tr *ngFor="let coupon of dealCouponsLogs;let i=index">
              <td>{{coupon.code}}</td>
              <td>{{coupon.coupon_id}}</td>
              <td>{{coupon.plan_id}}</td>
              <td>{{coupon.user || '-----'}}</td>
              <td>{{coupon.deal_product_id}}</td>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#coupon-details">
                  <i class="fa fa-eye" (click)="selectCoupon(i)" style="font-size: 22px;" data-original-title="Edit"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!loading && totalCount == 0">
            <tr>
              <th colspan="6" scope="row" class="text-center">
                No record found
              </th>
            </tr>
          </ng-container>
          <ng-container *ngIf="loading">
            <tr>
              <th colspan="6" scope="row" class="text-center">
                <i class="fa fa-spinner fa-5x fa-spin"></i>
              </th>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="coupon-details" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <h5 class="modal-title">Coupon Details</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close"></i>
          </button>
      </div>
      <div class="modal-body">
        <div class="sahil-material" *ngIf="selectedCoupon">
          <!-- {{ selectedCoupon | json }} -->
          <div *ngFor="let key of generateKeys(selectedCoupon)">
            <p>
              <i>{{ key + ' :- ' }}</i>{{ selectedCoupon[key] | json }}</p>
          </div>
          <!-- <div [innerHTML]="beautifyCode(selectedCoupon)">
                    </div>  -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="dealCouponCreate" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">Deal Copoun Create</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="DealCouponForm">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="User Name">
            </div>
          </div>
          <div class="form-group">
            <label for="heading" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="User Email">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Product:</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="product">
                <option value="" disabled selected class="text-style-option1">Select Product</option>
                <option *ngFor="let deal of dealProduct" [value]="deal.product_id">{{ deal.plan }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="media_type" class="col-sm-2 control-label">Deal Type:</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="source">
                <option value="" disabled selected class="text-style-option1">Select Deal</option>
                <option value="jvzoo">JVZOO</option>
                <option value="paykickstart">PAYKICKSTART</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <label *ngIf="isError" class="col-sm-5 control-label modal-message" for="error">*{{ modalError }}</label>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="dealCouponButton" type="button" class="btn btn-primary" (click)="generateDealCoupon()" [disabled]="!DealCouponForm.valid">Update</button>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-12">
    <div class="text-right">
        Showing {{(current_page == 1) ? current_page : ((current_page - 1) * current_limit) + 1}} - {{((current_page * current_limit) 
          > totalCount)? totalCount : current_page * current_limit}} of {{totalCount}}
        <div class="btn-group">
          <button type="button" class="btn btn-primary" [disabled]="current_page === 1" (click)="prevPage();selectLog()">
            <i class="fa fa-angle-left"></i>
          </button>
          <button type="button" class="btn btn-primary" [disabled]="current_page === pages" (click)="nextPage();selectLog()">
            <i class="fa fa-angle-right"></i>
          </button>
        </div>
    </div>
  </div>